@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ColfaxAI";
  src: url(./assets/fonts/Regular.otf);
}

@font-face {
  font-family: "ColfaxAI-Bold";
  src: url(./assets/fonts/Bold.otf);
}

@font-face {
  font-family: "ColfaxAI-Black";
  src: url(./assets/fonts/Bold.otf);
}

body,
html {
  font-family: "ColfaxAI";
}

.font-bold {
  font-family: "ColfaxAI-Bold";
}

.font-black {
  font-family: "ColfaxAI-Black";
}

.box {
  background-image: linear-gradient(
    to right,
    #ebebeb calc(50% - 100px),
    #c5c5c5 50%,
    #ebebeb calc(50% + 100px)
  );
  background-size: 0;
  position: relative;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(200% + 100px);
  bottom: 0;
  background-image: inherit;
  animation: move 2s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(calc(50% + 100px));
  }
}
